/* login.css */

/* 전체 Wrapper 스타일 */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  background-color: #f2f2f2;
}

/* 로고 Wrap 스타일 */
.logo_wrap {
  text-align: center;
  margin-bottom: 20px;
}

.logo_wrap span {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* 로그인 Wrap 스타일 */
.login_wrap {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 아이디 입력란 Wrap 스타일 */
.id_wrap {
  margin-bottom: 15px;
}

/* 비밀번호 입력란 Wrap 스타일 */
.pw_wrap {
  margin-bottom: 15px;
}

/* 입력 박스 스타일 */
.id_input_box,
.pw_input_box {
  position: relative;
}

.id_input,
.pw_iput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: black;
}

/* 로그인 버튼 Wrap 스타일 */
.login_button_wrap {
  text-align: center;
}

.login_button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login_button:hover {
  background-color: #555;
}

/* 로그인 실패 경고글 */
.login_warn{
	margin-top: 30px;
	text-align: center;
	color: red;
}